<% users.each do |user| %>
  <tr>
    <td><%= user.first_name %></td>
    <td><%= user.last_name %></td>
    <td><%= user.email %></td>
    <td><%= user.phone_number %></td>
    <td><%= link_to "Edit", edit_user_path(user) %> | <%= link_to 'View', user_path(user) %></td>
  </tr>
<% end %>