<div class="row">
	<div class="col-md-6">
		<p> First Name: <%= @user.first_name %></p>
		<p> Last Name: <%= @user.last_name %></p>
		<p> Email: <%= @user.email %></p>
		<p> Phone Number: <%= @user.phone_number %></p>

		<hr>

		<h5>Addresses</h5>

		<% @user.addresses.each do |address| %>
			<p>Street Address: <%= address.street_address %></p>
			<p>City: <%= address.city %></p>
			<p>State: <%= address.state %></p>
			<p>Zip: <%= address.zip %></p>

			<hr/>
		<% end %>
	</div>
</div>